/* Centers input box */
div.wrapper {
  position:  absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height:500px;
  border:1px solid black;
  background-color: #445544;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #334433;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
 background-color: #556655;
 color: white;
 font-family: Arial, sans-serif;
}